<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<configSections>
		<section 
				name="ClientConfiguration" 
				type="Docular.Client.Windows.Configuration.DocularClientConfigurationSection, Docular.Client.Windows, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
				allowLocation="true" 
				allowDefinition="Everywhere" 
				allowExeDefinition="MachineToLocalUser" 
				overrideModeDefault="Allow" 
				restartOnExternalChanges="true" 
				requirePermission="true" />
	</configSections>
	<location 
			allowOverride="true" 
			inheritInChildApplications="true">
		<ClientConfiguration 
				ApiKey="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAu5MDF76sU0uBwtv9eUxPygAAAAACAAAAAAAQZgAAAAEAACAAAACsfvFjhxCma1F6MMpzZmvTi6tTitbioRiaQ0Pd6sHbpwAAAAAOgAAAAAIAACAAAAAmqzAei6lrSQ7vbHZvR10YROCwkhyREcJJAshPO2/0USAAAADtPIDOavLcU75eViVGhkjlMpzPXTPrCpzpAN0BDduDdEAAAAAhkW0W/dHntiJ+spM50hglTMiW8ZDKPRRFaUYwwTCVjnm+3VOG+7w1kb+1ggD33dxeJDZpP58YM8cvbj33XMUk"
				Skin="Default" />
	</location>
</configuration>