<!DOCTYPE html>
<html ng-app="docularApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Ember Starter Kit</title>

    <link href="/static/css/less/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet">

    <script src="/static/js/libs/angular.min.js"></script>
    <script src="/static/js/libs/angular-resource.min.js"></script>
    <script src="/static/js/libs/jquery-1.10.2.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</head>
<body>
<div ng-controller="SidebarController">
    <div class="vertical-element" id="sidebar">
        <a href="/"><img class="logo" src="/static/img/logo-vert.png" width="60" height="55"></a>

        <ul class="main-menu">
            <li ng-repeat="link in linksTop">
                <a href="#{{link.link}}" ng-class="isActive(link.link)">
                    <i class="{{link.icon}}"></i>
                    <small>{{link.name}}</small>
                </a>
            </li>
        </ul>

        <ul class="main-menu menu-bottom">
            <li ng-repeat="link in linksBottom">
                <a href="#{{link.link}}" ng-class="isActive(link.link)">
                    <i class="{{link.icon}}"></i>
                    <small>{{link.name}}</small>
                </a>
            </li>
        </ul>
    </div>

    <div id="content" ng-view></div>
</div>
</body>

<script type="text/x-handlebars" id="documents">
    <div class="card col-6">
        <header>
            Documents
        </header>

        <section class="content">
            <ul class="document-grid">
                {{#each}}
                <li>
                    {{#link-to 'document' this}}
                    <div class="preview-image">
                        <img {{bind-attr src=preview alt=name}}>
                    </div>

                    <div class="information">
                        <h3>{{name}}</h3>
                        <span class="dates">{{date}}</span>
                        <ul class="tags">
                            <li>Tag 1</li>
                            <li>Tag 2</li>
                            <li>Tag 3</li>
                            <li>Tag 4</li>
                            <li>Tag 5</li>
                        </ul>
                    </div>
                    {{/link-to}}
                </li>
                {{/each}}
            </ul>
        </section>
    </div>

    {{outlet}}
</script>

<script type="text/x-handlebars" id="document">
    <div class="card col-6">
        <header class="level-2">{{name}}</header>
        <section class="content">
            <div class="image-viewer">
                <img {{bind-attr src=image}}/>
                <img {{bind-attr src=image}}/>
                <img {{bind-attr src=image}}/>
            </div>
        </section>
    </div>

    <div class="card col-2">
        <header class="level-3">Properties</header>
        <section class="content">

        </section>
    </div>
</script>
</html>
